[package]
name = "aoc2023"
version = "0.1.0"
edition = "2021"

[dependencies]
aoc-runner = "0.3.0"
aoc-runner-derive = "0.3.0"
grid = "0.12.0"
itertools = "0.12.0"
num = "0.4.1"
rayon = "1.8.0"
regex = "1.10.2"
